<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <title>Oglasi firme</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">


        <ul class="nav nav-pills" id="navMeni">
        <li role="presentation"><a href="/index">Home</a></li>
        <li role="presentation"><a href="/oglasi">Oglasi kompanija</a></li>
        <li role="presentation"><a href="/kompanije">Kompanije</a></li>
        <li role="presentation"><a href="/hr">Human Resources</a></li>




    </ul>
    </nav>

    <h1 class="big" id="naslov">Oglasi kompanija</h1>



</div>



</body>
</html>