<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-confirm.min.js"></script>
    <script src="js/main.js"></script>
    <title>Kompanije</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">


        <ul class="nav nav-pills" id="navMeni">
            <li role="presentation"><a href="/index">Home</a></li>
            <li role="presentation"><a href="/oglasi">Oglasi kompanija</a></li>
            <li role="presentation"><a href="/kompanije">Kompanije</a></li>
            <li role="presentation"><a href="/hr">Human Resources</a></li>




        </ul>
    </nav>  <br>


    <h1>
Kompanije
    </h1>    <br>



    <table class="table table-bordered table-hover">
    <tr>

        <th>Id</th>
        <th>Ime</th>
        <th>Opis</th>
        <th>Email</th>
        <th>Adresa</th>
        <th>Edit</th>
        <th>Remove</th>
        {{#kompanije}}

        <tr class="success">
            <th>{{id}}</th>
            <th>{{ime}}</th>
            <th>{{opis}} </th>
            <th>{{email}}</th>
            <th>{{adresa}}</th>

            <td><a href="/kompanije/{{id}}/izmeni" class="btn btn-info">Izmeni</a></td>
            <td><a href="/kompanije/{{id}}/obrisi" class="btn btn-danger">Obrisi</a></td>
        </tr>
        {{/kompanije}}



    </table>
    <a href="/kompanije/dodajkompaniju"><button class="btn btn-success" type="button">Dodaj kompaniju</button></a>




</div>
</body>
</html>
