<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/jquery-confirm.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Oglasi</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">


        <ul class="nav nav-pills" id="navMeni">
            <li role="presentation"><a href="/index">Home</a></li>
            <li role="presentation"><a href="/oglasi">Oglasi kompanija</a></li>
            <li role="presentation"><a href="/kompanije">Kompanije</a></li>
            <li role="presentation"><a href="/hr">Human Resources</a></li>
        </ul>
    </nav>
    <br>

    <h1>
       Oglasi
    </h1>    <br>


    <br>
        <table class="table table-bordered table-hover">
        <tr>

            <th>id kompanije</th>
            <th>id</th>
            <th>Naziv oglasa</th>
            <th>Oglas</th>
            <th>Edit</th>
            <th>Remove</th>

            {{#oglasi}}

            <tr class="success">
                <th>{{ime}}</th>
                <th>{{id}}</th>
                <th>{{naziv}}</th>
                <th>{{oglas}}</th>
                <td><a href="/oglasi/{{id}}/izmeni" class="btn btn-info">Izmeni</a></td>
                <td><a href="/oglasi/{{id}}/obrisi" class="btn btn-danger">Obrisi</a></td>
            </tr>
            {{/oglasi}}



        </table>

    <a href="/oglasi/dodajoglasi"><button class="btn btn-success" type="button">Dodaj oglas</button></a>

</div>
</body>
</html>