body{
    background-color: #dc5a4b;
}

h1 {
    text-align: center;
    font-family:  Consolas;
    color: darkslategray;
}
#addForm{
    width: 300px;
    margin: 0 auto;
}
#naslov{
    padding-top: 8%;
    font-size: 5em;
    color: #bcd26e;
    font-family: fantasy sans-serif;
}

